<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mvoice-swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E29CD131ECF52BA004671F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E29CD271ECF52BA004671F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E29CD321ECF52BA004671F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
